body{
  margin:0;
  font-family:sans-serif;
  background:#222;
  color:#fff;
}

.screen{
  display:none;
  height:100vh;
  padding:10px;
  box-sizing:border-box;
}

.screen.active{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.title-image{
  width:128px;
  max-width:30vw;
  border:1.5px solid black;
  margin:25px 0;
  display:block;
}

select,button{
  padding:10px;
  margin:5px;
  font-size:16px;
}

.top-bar{
  width:100%;
  text-align:center;
  font-size:18px;
  padding:10px;
  border-bottom:1px solid #888;
}

.board{
  flex:1;
  width:100%;
  display:grid;
  gap:5px;
}

.card{
  background:#444;
  border:1px solid #aaa;
  border-radius:6px;
  display:flex;
  justify-content:center;
  align-items:center;
  aspect-ratio:1/1;
  font-size:clamp(12px,4vw,24px);
  cursor:pointer;
}

.card.matched{
  background:#66cc88;
  color:#000;
}