body{
  margin:0;
  font-family:sans-serif;
  background:radial-gradient(circle,#0f0f1a,#000);
  color:#fff;
  overflow:hidden;
  touch-action:manipulation;
}

.screen{
  display:none;
  height:100vh;
  box-sizing:border-box;
  padding:10px;
}

.screen.active{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

h1{
  color:#00f7ff;
  text-shadow:0 0 15px #00f7ff;
}

.title-image{
  width:128px;
  max-width:30vw;
  border:1.5px solid black;
  margin:25px 0;
  user-select:none;
  pointer-events:none;
}

select,button{
  padding:12px;
  margin:6px;
  font-size:16px;
  border-radius:10px;
  border:1px solid #00f7ff;
  background:#111;
  color:#00f7ff;
}

.top-bar{
  width:100%;
  text-align:center;
  padding:12px;
  font-size:20px;
  border-bottom:1px solid #00f7ff;
}

.board{
  flex:1;
  width:100%;
  display:grid;
  gap:4px;
}

.card{
  background:#111;
  border:1px solid #00f7ff;
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  aspect-ratio:1/1;
  font-size:clamp(14px,4vw,26px);
  box-shadow:0 0 6px #00f7ff;
}

.card.matched{
  background:#00ff88;
  color:#000;
}