/* board.css */
.board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-gap: 2px;
  justify-content: center;
  margin: 10px auto;
  width: 90vw;
  max-width: 800px;
  aspect-ratio: 1 / 1;
}

.card {
  width: 100%;
  height: 100%;
  background: var(--card-bg-color);
  border: 1px solid var(--card-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(12px, calc(24px / (4 / var(--grid-size))), 32px);
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s;
}

.card.matched {
  background: var(--card-match-bg-color);
  cursor: default;
}

.card.flip {
  transform: rotateY(180deg);
}

.card.fly {
  transform: translate(var(--x), var(--y)) rotate(720deg);
  transition: all 1s ease;
}